[2019-07-31 17:19] f3l1x opened #3 "Roadmap"
- next-gen PHP builder ✅
- Composer
- config.composer: true ✅
- composer.json detection ✅
- zero config ✅
- now dev ✅
- rewrite to typescript ✅

---

Feel free to suggest any feature you like.

[2019-07-31 19:14] DevJoghurt opened #4 "[now dev] $_GET: first argument has "?" as first character"
Code:
`<?php
var_dump($_GET);`

http://localhost:8080/services/test?test=test&test2=test2

Output:

[2019-08-01 10:34] malihs opened #5 "Is now-php production ready?"
Forgive my lack of knowledge in php/serverless, you mentioned that the mode is "PHP development server" which gets a flag on [php documentation](https://www.php.net/manual/en/features.commandline.webserver.php) for not being production friendly. Is this normal as it's a now/serverless architecture and all the server load is managed by Now. Can you please shed some light on this?

Thank you!

[2019-08-02 14:30] f3l1x commented on #4
Should be fixed. Thanks for report.

[2019-08-02 14:30] #4 closed

[2019-08-02 15:10] f3l1x commented on #5
Is now-php production ready? Almost.
Are there production apps on now-php? Yes, there are.

----

The PHP docs is right, but I think for class webserver combo (apache+php, nginx+php). Because PHP DevSrv is single threaded process, it cannot scale.

Otherwise, serverless is different against classic webserver. It receives 1 request and send 1 response and then die, basically.  Learn more in docs (h

[2019-08-02 15:59] malihs commented on #5
@f3l1x Much more clearer. Thank you!

So basically with ``now`` you're using PHP DevSrv mode by default, and there are no concerns given the nature of serverless lambda. While with ``now dev`` you're opting for php CGI.

This explains also why I'm getting a ``PHP process errored Error: spawn php-cgi ENOENT`` with ``now dev`` on MacOs Mojave. Is this because MacOs ships with no php CGI? (``php --ve

[2019-08-02 16:03] f3l1x commented on #5
Exactly, you need to install php-cgi as well. I will add it to pre-run check and it show you better error. :-)

[2019-08-02 19:23] f3l1x commented on #5
Btw, take a look at doc page.

https://github.com/juicyfx/now-php/blob/master/errors/now-dev-no-local-php.md

[2019-08-02 19:23] f3l1x commented on #5
I'm closing it here. :-) Feel free to ask about anything.

[2019-08-02 19:23] #5 closed

[2019-08-02 19:24] f3l1x opened #8 "[now dev] Test also php-cgi"

[2019-08-05 18:13] mdegrees opened #11 "Customizing php.ini"
Will there be support for php.ini customization? I'm specifically looking to set session handler to redis store. Thank you.

[2019-08-05 18:28] ties-v commented on #11
I think it is a nice one to add to the roadmap, especially for use cases like you just mentioned.

And as always, if you would like, open a PR with this feature 😉

[2019-08-05 18:28] ties-v commented on #3
Custom php.ini, see #11

[2019-08-06 09:49] malihs commented on #11
Awesome! Sure, I'll try to get my head around the code base and see if I can do that.

[2019-08-06 19:46] f3l1x commented on #11
Hi guys. I like the idea. Could you please elaborate about the configuration?

- Should we put it into the special file? Like php.ini? Should it be in the root folder?
- Or should we put it into the now.json? Only a few override items will be there right?

[2019-08-06 19:47] f3l1x commented on #3
Included in the features. ;-)

[2019-08-06 20:02] malihs commented on #11
Wow I was just about to post this:

The three options I can think of:
1. Enabling the user to add a php.ini file that will co-live with now.json. When factoring in the user php.ini, we import the directives that are overridable and silently ignore the ones that are not.
2. Enabling the user to add a php.ini again at the root level but this time only with supported directives. For example ``session

[2019-08-08 09:47] ties-v commented on #11
In a "normal" *nix environment, you usually extend configuration files by adding multiple files in a `conf.d` directory. With this in mind I think it is nice to let the user (as in the developer using this builder) write one (or multiple?) php.ini files and points to the file(s) in now.json. A php.ini file in the same directory as now.json is set as default "zero-config" value.

Also, I don't thin

[2019-08-08 10:15] malihs commented on #11
This makes total sense. Similar to what docker-compose.yml does with the Dockerfile. it looks neat.
I'm not yet clear though on how a user can add extensions and how this will play out with php.ini. Can you please shed some lights on how the workflow would look like for someone wanting to add an extension, `php7-gd` for example.

[2019-08-08 10:28] ties-v commented on #11
I think adding extensions a different problem. As I have understood so far @f3l1x added as much extensions as he could to this builder. Maybe in the future there will be ways to specifically select which ones you want in your builder (or by composer.json?) This can make the resulting lambda smaller (= faster cold starts).

But for now if someone whats to add an extension, I guess they have to crea

[2019-08-08 10:45] ties-v opened #12 "[now dev] Installed packages in `vendor`do not exists"
At this moment my project has a `.nowignore` file to prevent the composer `vendor` directory from uploading to now.

When I run this same project with `now dev` I get an error because the `vendor` directory is not found. This makes sense because it is ignored.

This should however be resolved by either:
* Also run composer install in `now dev`, but this seems to make it really slow.
* Also copy th

[2019-08-08 10:46] malihs commented on #11
@ties-v oh I see. I think this a Lambda related problem. Having to supply a binary artifact makes things hard to customize. This is what I miss about Docker 🙃. I did some digging though and found this: https://github.com/awslabs/aws-lambda-container-image-converter . Apparently we can convert a Docker image to a Lambda binary 🤯. This will solve all the customization problems (giving that the input

[2019-08-08 10:50] f3l1x commented on #12
Yep, I've pointed that out also to ZEIT team and we need to colaborate on it.

I picture it like this:

- now
  - composer deps are installed if composer.json is in place

- now dev
  - composer deps are installed if composer.json is in place only once, for the first time
  - we need to track if composer.json or composer.lock is changed and re-install composer deps

There is way I think, but it ta

[2019-08-08 10:55] f3l1x commented on #11
I have copy&paste already build PHP modules+libs by my self.

https://github.com/juicyfx/now-builders/tree/master/src/php-lib

Still thinking about to take to this repo or separate to solo repository. Maybe others can build a layer from this builded php.

I like awslabs/aws-lambda-container-image-convert, @malihs, can you please test it how it works?

[2019-08-08 11:03] malihs commented on #11
@f3l1x okey will give it a try asap

[2019-08-09 15:04] malihs commented on #11
@f3l1x have you seen this example? https://github.com/awslabs/aws-lambda-container-image-converter/tree/master/example :

Basically they're using Docker to build a php runtime that would work along with the current lambda OS (`amazonlinux:2018.03.0.20190514`). The Docker image runs composer and a handler file. Interestingly enough, instead of using a phpDevServ, they're using Guzzle to manage HTTP

[2019-08-11 08:11] zmarkan opened #15 "Examples for Lambas in Now?"
Do you have any examples for how to run lambdas in Zeit Now?
I've tried placing scripts in the `api/` directory but keep getting a _not found_ page - the one that PHP renders, not Zeit's one.

[2019-08-11 19:58] calebporzio commented on #11
Hi everyone, great work on this btw!

I need to be able to set things in `php.ini` for my app to work (some of the options don't work with `ini_set`).

I personally would love just a simple way to set `php.ini` options in `now.json`. That way there is only 1 file now is concerned with.  All my now-specific env settings and `php.ini` options would live there.

[2019-08-12 06:57] f3l1x commented on #15
Hi @zmarkan

Take a look at examples folder - https://github.com/juicyfx/now-php/tree/master/examples

now-php unfortunately doesn't support zero-config, you have to setup `now.json` file.

[code]

[2019-08-12 12:56] zmarkan commented on #15
Thanks, that makes sense!

[2019-08-12 12:56] #15 closed

[2019-08-12 19:51] f3l1x commented on #11
I'm thinking also about some option in `now.json`. Can you please show me what kind of php.ini do you need to override? I would like to setup now-php for most cases.

[2019-08-16 17:28] #8 closed

[2019-08-16 17:44] f3l1x opened #16 "Compile PHP 7.3.8"

[2019-08-16 17:44] f3l1x commented on #16
![image](https://user-images.githubusercontent.com/538058/63187038-33cc5a00-c05e-11e9-9594-a8ac27bf642c.png)

[2019-08-16 17:44] #16 closed

[2019-08-16 19:00] f3l1x commented on #11
@mdegrees @calebporzio @ties-v  Can you please test it? https://github.com/juicyfx/now-php/pull/17

[2019-08-20 12:47] f3l1x opened #19 "Example: symfony app"

[2019-08-20 12:47] f3l1x opened #20 "Example: laravel app"

[2019-08-20 12:49] f3l1x commented on #11
[code]

[2019-08-20 12:58] f3l1x opened #21 "Example: zend expressive app"

[2019-08-22 14:51] mdegrees commented on #11
@f3l1x working like a charm, thank you!

[2019-08-22 15:32] CraftLogan commented on #20
Hello, I am working on getting this up and running on laravel but when I run now dev I am stuck with this error PHP process errored Error: spawn php-cgi ENOENT
<img width="1088" ### alt="Screen Shot 2019-08-22 at 11 30 20 AM" src="https://user-images.githubusercontent.com/10950466/63528077-47e5e080-c4d0-11e9-80a0-f1e84c017ddf.pn

[2019-08-22 15:34] CraftLogan commented on #20
If anyone has any advice that would be great. Thanks Logan

[2019-08-22 21:31] f3l1x commented on #20
You need to install php locally on your computer. Also `php-cgi` binary.

[2019-08-22 21:32] #11 closed

[2019-08-23 00:05] calebporzio commented on #11
Sorry, I didn't get back to you sooner. Thanks @f3l1x - you're the man!

[2019-08-29 11:48] ties-v commented on #19
What kind of example should this be? The full Symfony demo or some more simple (custom) website using Symfony?

For the full demo website see: https://github.com/ties-v/symfony-demo-on-now and  https://symfony-demo.ties.now.sh/

For a little less advanced example I would be able to put something together.

[2019-08-30 19:11] f3l1x commented on #19
I think we should have 2 examples

- tiny minimal example
- full standard example

You can start with the minimal. What do you think?

[2019-09-04 09:38] Sugydro commented on #4
Hey. My script does not receive GET requests. What could be the reason?

Config:
[code]
URL: https://domain.com/index.php?method=random

Code: `<?php
var_dump($_GET);`

Output:
`array(0) { }`

[2019-09-04 09:56] f3l1x commented on #4
Hi @Sugydro. Can you please try it once again?

[2019-09-04 10:04] f3l1x commented on #4
There was a issue during refactoring (https://github.com/juicyfx/now-php/commit/1ab298e7bdbbe0c044172ac3e0a66b5d103d33e1). Thanks for pointing me out.

[2019-09-04 10:19] Sugydro commented on #4
@f3l1x, still the same :(

[2019-09-04 10:20] f3l1x commented on #4
How is that. I've successfully deployed this example (https://github.com/juicyfx/now-php/tree/master/examples/php-test).

Did you try `now -f` to force deploy?

[2019-09-04 10:23] Sugydro commented on #4
Oh, now it works, thank you!

[2019-09-11 12:41] andreasroman opened #22 "Environment-variable does not change"
First of all, thanks for your work with this, it's really great :slightly_smiling_face:
I have a question about environments, which is not really clear to me.

This is my PHP-file:

[code]

I deploy it with now.json:

[code]

Thats works as expected and I see string foo dumped with ```getenv()```.

But if I change env foo in ```now.json``` to something else and redeploy it, the value of foo is sti

[2019-09-11 19:20] f3l1x commented on #22
Hi @andreasroman.

I must discuss it with ZEIT team. Looks like changes in env don't trigger new build. Could you try `now -f`?

[2019-09-12 05:30] andreasroman commented on #22
Yes that works :100:

[2019-09-15 17:28] AGDholo commented on #20
Laravel default cache to '/storage' folder.This is different from the directory on the now.sh server.
I tried to rewrite StoragePath to '/tmp' but it failed.

[2019-09-15 17:30] f3l1x commented on #20
Hello @AGDholo. Only writable folder is /tmp, so you must rewrite all cache folders, session folder and other folders where laravel could write.

[2019-09-15 18:42] AGDholo commented on #20
I solved the problem with the /tmp folder, just add the following code in bootstrap/app.php to override StoragePath.

[code]
And set path in config/{cache.php, session.php, view.php}:
`storage_path(xxxx) to storage_path()`

But when I deploy it on the server, it throws an error: `Uncaught ReflectionException: Class translator does not exist in`.

The complete error is as follows:

[code]

Build wa

[2019-09-16 02:29] CraftLogan commented on #20
@AGDholo could you post your now.json file. Thanks

[2019-09-16 02:32] AGDholo commented on #20
@CraftLogan visit: https://gist.github.com/AGDholo/492ec681a568cdbc38111b8849392282

[2019-09-16 13:50] AGDholo opened #23 "Example: lumen app"
I created a brand new full lumen application startup example.
Unlike laravel, lumen does not require static file caching or access, which allows only one now.json to be started.
See the full code example: https://github.com/OpenEpicData/NowLumenCore

[2019-09-24 12:30] #22 closed

[2019-10-04 13:57] f3l1x commented on #20
Ref: https://github.com/zeit/docs/issues/508

[2019-10-07 10:05] f3l1x commented on #23
Closing. Thanks @AGDholo

[2019-10-07 10:05] #23 closed

[2019-12-03 13:31] fydy opened #33 "How to deploy wordpress with now-php ?"
How to deploy wordpress with now-php ?

[2019-12-06 09:29] fydy commented on #33
Resolved。https://github.com/fydy/now-wordpress

[2019-12-06 09:29] #33 closed

[2019-12-11 08:16] fydy opened #34 "How to deploy typecho"
How to deploy typecho with now-php?
https://github.com/typecho/typecho

[2019-12-15 13:49] f3l1x commented on #34
Hello. I've never used typecho. Could you please describe how it works, requirements and setup a minimal version to deploy?

[2019-12-15 13:50] f3l1x opened #35 "Use PHP 7.4"
Switch `now-php` to newer PHP version.

[2019-12-16 00:55] fydy commented on #34
## Typecho is a single entry program.
All accesses are through index.php , Index.php does three things
- Load config.inc.php (config.inc.php sets the relevant directory, including path, load system basic class library, program initialization  typecho_common:: init();, and finally sets the database connection parameters, which can be viewed here by yourself)
- Execute Typecho widget:: widget ('widg

[2019-12-17 04:32] fydy opened #36 "deployed wordpress with now-php"
I deployed wordpress with now-php. When running, it shows too many redirects.
![image](https://user-images.githubusercontent.com/39726855/70965016-29cc6d80-20c9-11ea-864d-71b271b849d9.png)
My now.json is
[code]

[2020-01-02 04:25] LuisRodriguezLD opened #40 "Sending email STDERR"
Hello.
Great repo.
Thanks!!

But I am running into this issue when trying to send an email from a function

`STDERR: sh: /usr/sbin/sendmail: No such file or directory`

[2020-01-07 09:43] ehne opened #41 "502: BAD_GATEWAY"
Hello,
I am trying to deploy a php file.
and it builds fine (I think). But whenever I try to access it, the website gives me a 502 error with the following text : `502: BAD_GATEWAY Code: NO_STATUS_CODE_FROM_FUNCTION`
I've checked the logs and it seems to be an error when it tries to load a shared library (`error while loading shared libraries: libcrypt.so.1: cannot open shared object file: No such

[2020-01-07 09:48] f3l1x commented on #41
It looks like Node 8 has reached EOL.

https://docs.aws.amazon.com/lambda/latest/dg/runtime-support-policy.html

I'm working on new version #37. It will be released today.

[2020-01-07 09:52] f3l1x commented on #40
Hi. Sendmail is not supported on ZEIT (AWS lambda). Try to use some mail service. For example https://www.mailgun.com/.

[2020-01-07 22:32] LuisRodriguezLD commented on #40
will do, thanks!

[2020-01-07 22:32] #40 closed

[2020-01-09 22:50] ebauger opened #42 "php: error while loading shared libraries: libtinfo.so.6"
Really nice project!

I will try to deploy with now my slim api projet.

now.json
[code]

composer.json
[code]

I got this error log on my now instance :
[code]

Any tips?

[2020-01-10 15:40] ebauger commented on #42
Also try with this new version of now.json but I had the same issue:
[code]

[2020-01-10 16:04] f3l1x commented on #42
Hi @ebauger. It's strange. Thank you for reporting. I must take a look closer.

[2020-01-10 16:32] ebauger commented on #42
@f3l1x If you need more info you can poke me anytimes

[2020-01-10 16:35] f3l1x commented on #41
PHP 7.4 and Amazon Linux 2. Done. #37

[2020-01-10 16:35] #41 closed

[2020-01-10 16:35] f3l1x commented on #35
Since v0.0.8.

[2020-01-10 16:35] #35 closed

[2020-01-10 16:42] f3l1x commented on #42
I've discuss it with @styfle and problem is in building phase.

Build container during building phase use AL1 (`amazonlinux:2017.03.1.20170812`). That's the problem. PHP 7.4 is compiled for runtime container running on Amazon Linux 2.

Only installing Composer dependencies is affected. Not the runtime (I think). Using prepacked Composer dependencies might work for now.

First things came to my min

[2020-01-10 17:42] kolyasapphire commented on #42
Hi! I can confirm this affects only builds with Composer - all my projects without it redeployed and are working fine after the 0.0.8 update.

Would it be possible to install Composer packages using PHP 7.3, but use 7.4 to build the lambdas?

[2020-01-10 18:20] ebauger commented on #42
@f3l1x I will try your output and give feedback

[2020-01-14 10:13] khanhnguyenha1120 opened #43 "how to enable php-mcrypt?"
I need support to enable php-mcrypt on now-php
I get an error when use mcrypt
`Fatal error: Uncaught Error: Call to undefined function mcrypt_module_open() `

Thank you for support.

[2020-01-14 11:07] f3l1x commented on #43
Hi @khanhnguyenha1120.

Mcrypt is not recommended since PHP 7 (https://www.php.net/manual/en/function.mcrypt-module-open.php).

now-php uses PHP 7.4 under the hood. Try to look for mcrypt provider in packagist (https://packagist.org/packages/phpseclib/mcrypt_compat).

[2020-01-14 12:26] AGDholo commented on #42
Same thing when I use the latest lumen app

[2020-01-15 02:28] khanhnguyenha1120 commented on #43
Thank you.

[2020-01-15 10:18] f3l1x commented on #42
Could you guys @AGDholo @ebauger @kolyasapphire test this setup?

[code]

[2020-01-15 21:16] ebauger commented on #42
@f3l1x

[code]
I had to rename my folder /public to /api in my project.

.nowignore with this line `composer.json`

now.json

[code]
When I try a GET route on my api like https://url.now.sh/user :
[code]

any other configuration in now.json?

[2020-01-16 00:48] kolyasapphire commented on #42
@f3l1x Thank you very much! Works as expected now.

[2020-01-16 08:16] AGDholo commented on #42
@f3l1x
Work nicely when I change the runtime in lumen framework:
https://github.com/OpenEpicData/NowLumenCore/blob/master/now.json

[code]

Might we need to fix this repo example code:
https://github.com/juicyfx/now-php/tree/master/examples/framework-lumen

[2020-01-16 10:21] f3l1x commented on #42
Hey folks! 🎉

New stable version bumped!

[code]

Related info:

- v0.0.9 #45
- [Changelog](https://github.com/juicyfx/now-php/blob/57f3efa54824468a1c08ca5d69f748ca396b42ec/CHANGELOG.md)

[2020-01-16 10:21] #42 closed

[2020-01-16 10:22] f3l1x commented on #43
Closing it now. Feel free to open it again.

[2020-01-16 10:22] #43 closed

[2020-01-16 10:45] f3l1x commented on #36
Hi @fydy. Could you please point me a repository? I would help.

[2020-01-16 12:10] fydy commented on #36
@f3l1x The code repository I deployed: https://github.com/fydy/demo_wordpress

For security, I used the free mysql database: remotemysql.com

thank you

[2020-01-23 16:40] rolandihms opened #46 "Created Example for Codeigniter"
# Question
Hey there,

I have been loving your php builders and am starting to migrate a bunch of older php stacks to Zeit now.
I have created a quick example to run Codeigniter v3 with your builders.

https://github.com/rolandihms/zeit-php/tree/master/examples/codeigniter

https://zeit-php-e9gik1te9.now.sh/

https://zeit.co/rolandihms/zeit-php/e9gik1te9

Maybe someone might stumble across a requi

[2020-01-23 16:50] f3l1x commented on #46
Hi @rolandihms. Thank you very much for trusty.

I would really appreciate your help with https://github.com/juicyfx/now-examples. Do you mind to transfer your examples/demos there? CodeIgniter is missing here, among others.

[2020-01-23 18:06] rolandihms commented on #46
@f3l1x , Sure. Simply grab the examples here.
https://github.com/rolandihms/zeit-php/tree/master/examples/codeigniter

Dont know if you want the full framework source as part of the example.

I can gladly assist where I can in future, just hit me up.

[2020-01-23 18:06] #46 closed

[2020-01-24 07:28] rolandihms commented on #46
Hi @f3l1x,

I have forked the now-examples repo and created a PR for the codeigniter
examples.

Let me know if you have any issues.

I also require the redis extension so I will have a look into that and see
if I can get it working on my fork.

Thanks/Cheers

On Thu, Jan 23, 2020 at 6:50 PM Milan Felix Šulc <notifications@github.com>
wrote:

--
Roland *Ihms*
mobile :*+264 81 886 3437*

Solutions t

[2020-01-25 19:12] f3l1x opened #47 "Use stable PHP 7.4.2"

[2020-01-28 06:57] lifesign opened #48 "Some PHP extension load failed"
# Question

use version `0.0.9`, when i open build log in now, seems some php extension load failed

[code]

[2020-01-28 17:44] srosset81 commented on #48
I don't know if it's related, but since the 25th of January, I have this error message which happens regularly :
[code]
The website worked fine before that date and I didn't build anything new.

[2020-01-28 18:16] f3l1x commented on #48
Hi @lifesign.

It's OK, because ZEIT uses different container for building phase. And thus some shared libs are not included. Runtime container is now affected. Just ignore it. :-)

@srosset81 Could you please share your `now.json` file? now-php is not using `php-fpm`. It looks strange to me.

[2020-01-28 18:34] srosset81 commented on #48
@f3l1x Here it is. I reckon I used the canary version (back then, it's the only version which worked).
[code]

[2020-01-30 16:31] lifesign commented on #48
@f3l1x got it, thx

[2020-01-30 19:22] f3l1x commented on #48
@srosset81 Well, it must be long time. `@now/php` has been evolved into `now-php`.

Simple example could today look like:

[code]

Take a look at example of Slim framework.

https://github.com/juicyfx/now-examples/blob/master/php-framework-slim/now.json

[2020-01-31 11:44] srosset81 commented on #48
That works again with the `now-php` package. Thanks @f3l1x !

[2020-01-31 12:24] f3l1x commented on #48
Glad to hear that.

[2020-01-31 12:24] #48 closed

[2020-02-09 23:45] vladimirbuskin opened #49 "pdo_sqlsrv"
# Question

Hello sir, thanks for your great work, if i want to use now-php with pdo_sqlsrv extension, anyway to configure or not supported?

[2020-02-11 14:10] Apokly commented on #36
Hi @fydy @f3l1x ,

Is this fix ? Do you have a solution ?

[2020-02-11 19:32] f3l1x commented on #36
Hi @Apokly. I've been working on bigger issue #48 and #47. Didn't fix it yet.

[2020-02-12 15:14] lekoala opened #50 "now dev on windows"
# Bug report

- Version: 0.0.9

## Description

I'm trying to use now dev on windows but i get these messages

[code]

when visiting the url, i get vendor errors like this

`Warning: require_once(C:\Users\myusername\AppData\Local\Temp\zeit-fun-0a347cf3b4463\user\api/../vendor/autoload.php): failed to open stream: No such file or directory in C:\Users\myusername\AppData\Local\Temp\zeit-fun-0a347cf3

[2020-02-12 22:09] disjfa commented on #19
Having issues to build a symfony app. I don't know what to do with cache on a read only file system. And after that i just get weird errors. So i am tagging along on this thread!

[2020-02-13 07:06] f3l1x commented on #19
Hey @disjfa.

Do you have problem with this?

https://github.com/juicyfx/now-examples/tree/master/php-framework-symfony-microservice
https://now-examples-php-framework-symfony-microservice.now.sh/

[2020-02-13 08:04] disjfa commented on #19
I used the now files from there yes. But i started with a base symfony 5.0 checkout. So i will update when i have tested this one. If i found what and where we can update and upgrade.

[2020-02-13 21:52] disjfa commented on #19
Cool, the trick is to fix the cache folder in your local kernel. For reference for people who read this:

[code]

Now the next step is to get the static css/js data from the `public/build/` folder on the screen. Can't seem to get that working. Also checked a version 2 of the symfony demo on zeit but still no luck. Tried to fix the routes in the `now.json` to add something like this.

[code]

But n

[2020-02-14 08:48] ties-v commented on #19
@disjfa An example for symfony 4.* is available at [ties-v/symfony-demo-on-now](https://github.com/ties-v/symfony-demo-on-now).

The [now.json](https://github.com/ties-v/symfony-demo-on-now/blob/master/now.json) file might be interesting to you.

One thing to notice is that is not using the new keys like `functions`  and `rewrites` etc. Maybe I'll update it some time.

Hope it helps!

[2020-02-14 09:39] disjfa commented on #19
Yes, thats the v2 version i was talking about. I want to add some npm stuff (encore) also so that breaks there for now.

[2020-02-14 10:30] ties-v commented on #19
Do you have an example repo somwhere? And what is exactly failing: loading of encore assets?

[2020-02-18 22:32] disjfa commented on #19
Pushed my repo, just working on an example to use to prototype. https://github.com/disjfa/symfony-prototype

For now i disabled the encore files and encore build step.

[2020-02-20 08:33] Jamesking56 opened #51 "How to run just composer, with no PHP files (composer satis)"
# Question

I want to publish a private composer satis repository to now.sh

However, the project has no PHP files, I need to run `composer install` and `vendor/bin/satis` on now.sh in order to setup satis.

Can I use this project to do that and how would I go about doing that?

[2020-02-20 09:12] f3l1x commented on #51
Hey @Jamesking56. Good idea I was thinking about the same.

Could you please describe me little bit closer what steps do you need to start your own **static** satis? I am sure we will figure out something.

[2020-02-20 09:23] Jamesking56 commented on #51
Currently I run:

[code]

Then upload the `public` directory (which of course Now should just use)

[2020-02-20 09:27] f3l1x commented on #51
And you would like to execute these commands on ZEIT Now, right?

[2020-02-20 09:30] Jamesking56 commented on #51
Yeah

[2020-02-24 16:32] smth opened #52 "Add a local PHP configuration example"
# Question

Could you add an example of how to configure now-php to work with `now dev`? On [this page](https://github.com/juicyfx/now-php/blob/master/errors/now-dev-no-local-php.md) it says "check that PHP executable is added to the PATH environment variable". I'm guessing this means create a `.env` file and put something like `PATH=/⁨usr⁩/local⁩/⁨Cellar/php@7.3⁩/⁨7.3.15⁩/⁨bin⁩/php` in it. Is tha

[2020-03-12 18:09] f3l1x commented on #50
Hi @lekoala. Installing composer dependencies is not supported on local development. Thing is, run php app via `php -S localhost:8000` is so easy.

[2020-03-12 18:09] f3l1x commented on #49
Hi @vladimirbuskin. pdo_sqlsrv is not bundled in now-php at this moment. Only extension is needed or any other files?

[2020-03-12 18:10] f3l1x commented on #52
Hi, I prefer starting php app via `php -s localhost:8000` (php development server).

[2020-03-12 18:20] f3l1x opened #53 "Usa stable PHP 7.3"

[2020-03-12 18:36] f3l1x commented on #47
Solved 77732159d56462573fbd6411360248061dbfedf7

[2020-03-12 18:36] #47 closed

[2020-03-12 18:36] f3l1x commented on #53
Solved 8a235bacf782c0905f30de92713640d517f8406e

[2020-03-12 18:36] #53 closed

[2020-03-12 19:48] f3l1x commented on #36
Hi. I have added wordpress example and hit also `Too many redirects`.

![image](https://user-images.githubusercontent.com/538058/76561033-c45b0380-64a2-11ea-95e3-c9f20511db20.png)

https://github.com/juicyfx/now-examples/tree/master/php-wordpress

[2020-03-12 19:49] f3l1x commented on #36
It looks like wordpress is not ready for PHP development server or need extra routing configuration. I appreciate some help.

[2020-03-13 03:31] fydy commented on #36
@f3l1x This is the [now-wordpress index.js code](https://github.com/fydy/now-wordpress/blob/master/index.js), but now nodejs8.10 is no longer supported. Can it be integrated into now-php? This may be able to run wordpress normally.

[2020-03-13 09:05] smth commented on #52
Ahh OK, thanks. You do that from the `api` folder?

(I think that needs to be a capital `S` btw `php -S localhost:8000`)

[2020-03-13 09:11] f3l1x commented on #52
Yup, I was on mobile. xD

`php -S localhost:8000 api/index.php` (or any other php file).

[2020-03-13 11:36] smth commented on #52
Using this server, rather than `now dev` means everything is expected to be inside the `api` directory, right? If `index.php` is referencing a CSS file for example. How would you deal with that?

[2020-03-15 20:27] reed-jones opened #54 "accessing php as part of the build"
# Question
As part of my build process I run `npm run production` which compiles all my javascript, however a step in my build executes a php script. This seems to fail on ZEIT since php doesn't appear to be available. Currently this means I need to pre-compile my assets and skip zeits build step.

Is there a way to expose `php` to my npm build scripts? or alternatively, is there a way to run my n

[2020-03-15 20:33] f3l1x commented on #54
Hi @reed-jones. Good point, I will allow to run php scripts. I was thinking about composer scripts, would it be a problem for you? I'd like to avoid combination of composer scripts and npm scripts.

[2020-03-15 20:52] reed-jones commented on #54
@f3l1x a composer script would do just fine as long as I could still access node/npm somehow (e.g. calling it from the composer script). My build process is a little complicated, but I assume If I called a composer script, node/npm would be accessible in the environment too?

...Also, thanks for your work :)

[2020-03-16 09:46] f3l1x commented on #54
I can't tell you the date, but I will work on it. :-)

[2020-03-28 20:31] f3l1x commented on #52
Well, it starts full webserver. All assets are handled properly.

Could you show me your project? I might with.

[2020-03-31 12:13] thedeadofblackfire opened #56 "add redis v5 extension ?"
# Feature Request

Hi,

Amazing job, it works like a charm !

I would like to know if you can add the official extension redis v5 on a future release (https://blog.remirepo.net/pages/PECL-extensions-RPM-status) ?

This is the last technical point that I would like to check with a remote redis server for caching php raw data.

Thanks a lot.

Nick

[2020-03-31 12:16] f3l1x commented on #56
Hi @thedeadofblackfire. Yum, I will add redis extension, no problemo.

http://pecl.php.net/package/redis

Will let you know, gimme this week pls. :-)

[2020-03-31 12:19] thedeadofblackfire commented on #56
Great. The latest 5.2.1 should be perfect. Thanks a lot !

[2020-04-01 13:26] bitbayio opened #57 "https://php.jfx.cz/ leaked AWS creds ?"
# Bug report
- URL: https://php.jfx.cz/

## Description
I didnt check if they are valid , but your phpinfo(); leaks

AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY

-- | --

[2020-04-04 17:43] f3l1x commented on #56
Added. Take a look https://now-php-mhlhxw910.now.sh/

Just re-deploy your lambdas.

[code]

[2020-04-04 17:43] #56 closed

[2020-04-15 10:46] #57 closed

[2020-05-01 12:11] f3l1x commented on #57
Hi @bitbayio. Thanks for pointing that, I will work on it.

[2020-05-01 12:11] f3l1x opened #58 "ZEIT -> Vercel"
- rename now-php to vercel-php?
- rename repositories
- change texts

[2020-05-06 18:56] brunosalgueiro commented on #58
I think now is the namo of cli-tool, so I believe that rename to vercel doesn't make sense.

[2020-05-07 00:45] fu-sen commented on #58
Yes. ZEIT has changed to Vercel, but Now continues to be used in Now CLI.
I don't think you need to change `now-php` for now.

[2020-05-07 08:24] f3l1x commented on #58
Thanks guys. We will see.

I created this issue according the timeline.

https://www.notion.so/83ff48a298f64adaaca85af4f9ab0b57?v=8ae84c07e47740c18e8cc67f6d781f6b

![image](https://user-images.githubusercontent.com/538058/81271851-f032d980-904c-11ea-91bc-d01afe7e1c20.png)

[2020-05-08 00:01] fu-sen commented on #58
We were just seeing that change: **Now CLI has been renamed Vercel CLI**.
The command name `now` has changed to` vercel`.
https://github.com/zeit/now/releases/tag/vercel%4019.0.0

It's time to make the decision to completely change the project name.

[2020-05-12 18:26] filiptronicek opened #59 "api/index.php can't be handled by any builder. Make sure it is inside the api/ directory."
# Bug report

- Version: 0.0.10
- URL: https://maas.filiptronicek.now.sh/
- Repository: https://github.com/filiptronicek/maas

## Description

The function for api/index.php can't be handled by any builder. Make sure it is inside the api/ directory.

I contacted Vercel but they said it's not a problem on their end. Any ideas?

[2020-05-12 18:42] f3l1x commented on #59
Hey. I quickly looked at your repo and now.json must be at root folder, not in the api folder.

[2020-05-12 18:59] filiptronicek commented on #59
https://github.com/filiptronicek/maas/commit/9d87127450e03164f4d4e4103aa9046fc5d12451#comments

[2020-05-12 19:18] filiptronicek commented on #59
![image](https://user-images.githubusercontent.com/29888641/81735965-22ea3100-9496-11ea-86d9-df6fed55ce3c.png)

[2020-05-13 00:08] fu-sen commented on #59
Hi @filiptronicek,
I can see your working project:
https://github.com/filiptronicek/maas

I clone this and tried it with Vercel CLI and it is working:
![スクリーンショット 2020-05-13 09 05 07](https://user-images.githubusercontent.com/5434159/81757260-40041b80-94f9-11ea-8fb4-5497127cb629.jpg)

There may be issues specific to your Vercel environment.
Please contact a Vercel member.

[2020-05-13 06:16] filiptronicek commented on #59
Thanks for help, I’ll try redeploying and see how it’ll go

[2020-05-13 11:49] #59 closed

[2020-05-24 19:18] konnorov opened #60 "How can I install GD?"
How can I remove the error:

`Fatal error: Uncaught Error: Call to undefined function imagecreatefrompng() in /var/task/user/api/image.php:8 Stack trace: #0 {main} thrown in /var/task/user/api/image.php on line 8`

help plz(

[2020-05-25 11:37] f3l1x commented on #60
Hey @konnorov. GD extension is not bundled in now-php. It requires so many shared libs and Vercel's limit is about 50mb per lambda.

[2020-05-26 14:15] konnorov commented on #60
Sad :(

Are there any other ways to add text to photos supported by ZEIT?

[2020-05-26 14:28] f3l1x commented on #60
I see few options here.

- You can elaborate how to bundle GD
- You can elaborate how to minify PHP libs
- You can use nodejs for image transformations. Rest of your app could be in PHP.

[2020-06-04 22:22] kjbrum commented on #36
Anyone had any luck getting WordPress running with this? I keep getting the "Too Many Redirects" error.

[2020-06-09 04:00] fydy opened #61 "OctoberCMS deployment error"
OctoberCMS deployment error, error details are as follows:
[code]

[2020-06-09 07:13] f3l1x commented on #61
Hello @fydy. Could you show me MVP repository?

[2020-06-09 07:48] fydy commented on #61
@f3l1x The repository is https://github.com/fydy/oc

[2020-06-09 07:51] f3l1x commented on #61
Could you keep there only must-have files? I mean remove all unused or unrelated stuff? Also include now.json.

[2020-06-09 08:03] fydy commented on #61
I set up a website locally by laragon , An error occurred while trying to deploy through zeit. My build logs https://vercel.com/fydy/oc/43cdz7n96

[2020-06-20 20:31] f3l1x commented on #58
PR is ready #62

[2020-06-22 11:06] f3l1x commented on #58
Done

[2020-06-22 11:06] #58 closed

[2020-06-22 11:17] f3l1x commented on #40
![image](https://user-images.githubusercontent.com/538058/85281651-ad0cb880-b48a-11ea-8ed0-7db7f8d5082e.png)

https://vercel.com/docs/v2/platform/limits?query=smtp#smtp

[2020-06-22 11:18] f3l1x commented on #33
I am not sure if we can say that vercel-php (now-php) is fully support wordpress with all it's plugins and extensions.

It seems me better to host wordpress somewhere else.

[2020-06-22 11:19] f3l1x commented on #15
Examples are moved to solo repository.

https://github.com/juicyfx/vercel-examples

[2020-06-22 11:22] f3l1x commented on #5
now-php has just renamed to vercel-php and it's more then production ready, it's production ready as 🔥

[2020-06-27 15:22] f3l1x commented on #51
Hi @Jamesking56, I hope you're still in this issue and want this feature, because I have a good news. 👁️

[2020-06-27 15:39] f3l1x commented on #51
- Satis demo project https://satis.vercel.app/
- Example satis project sources https://github.com/juicyfx/vercel-examples/tree/master/php-satis

[code]

In `satis.json` type your deps, you know. Composer file contains satis library to execute build command. Composer file also contains scripts, our script MUST be named **vercel** and builds the satis index.

Unfortunately lambda output cannot be st

[2020-06-27 16:14] f3l1x commented on #54
This feature will be included in v0.3.0 (#81)

[2020-06-27 16:14] f3l1x commented on #51
This feature will be included in v0.3.0 (#81)

[2020-06-29 20:15] #51 closed

[2020-06-29 20:15] #54 closed

[2020-06-29 20:18] f3l1x commented on #54
Implemented. See FAQ (https://github.com/juicyfx/vercel-php#%EF%B8%8F-faq)

[2020-06-29 20:18] f3l1x commented on #51
Implemented. See FAQ (https://github.com/juicyfx/vercel-php#%EF%B8%8F-faq)

[2020-06-30 02:22] reed-jones commented on #54
Looks great, thank you!

[2020-07-03 08:03] thedeadofblackfire opened #83 "Some recently extensions added are missing on new vercel-php 7.4.7"
Hi,

The extensions : redis, igbinary, msgpack and probably some others are missing now on the new php-lib repository.
Can you add them again ?

Thanks a lot for your amazing job !

Nick

[2020-07-03 20:12] f3l1x commented on #83
Oh, sure.

[2020-07-04 19:53] f3l1x commented on #83
Fixed. Use `vercel-php@0.3.1`.

- https://github.com/juicyfx/libphp/commit/f942b042c99faa98e141a03946562a258af0cc80
- https://github.com/juicyfx/libphp/commit/fa5999c8479311a34d50ca939131bac86416dae6

[code]

[2020-07-04 19:53] #83 closed

[2020-07-17 16:55] nicgutierrez opened #92 "MongoDB extension"
# Feature Request

Hi! Is there any chance we could get the [MongoDB](https://pecl.php.net/package/mongodb) extension?

I'm using Laravel and MongoDB but unfortunately the extension is not installed. Cheers!

[2020-07-22 10:13] menjilx opened #96 "URL rewrite feature"
Hi,
Is there a "demo/example" on how to add URL "rewrite rule"?
Is Vercel PHP uses NGINX or APACHE?

Thank you

[2020-07-22 10:46] f3l1x commented on #96
Hi, here are docs links:

- https://vercel.com/docs/configuration#project/routes
- https://vercel.com/docs/configuration#project/redirects
- https://vercel.com/docs/configuration#project/rewrites
- https://vercel.com/docs/configuration#routes/src

I don't think they use nginx/apache, their infrastructure is in cloud (AWS lambda).

[2020-07-22 11:33] menjilx commented on #96
Thank you so much!

[2020-07-22 11:34] #96 closed

[2020-07-22 11:36] menjilx opened #98 "SQLite DB"
Hi, is it possible to use SQLite3 database on this version? I tried creating a demo sqlite.db but it doesn't work. Even a simple "connection" test doesn't work or maybe I forgot something?

Trying to check SQLite version.
`$dbh = new PDO('sqlite::memory:');
print_r("SQLite version " .
$dbh->query('select sqlite_version()')->fetch()[0]);
$dbh = null;`

`Fatal error: Uncaught Error: Call to a member

[2020-07-22 11:37] f3l1x commented on #92
Hi, I think it's possible. `mongodb` ext is in REMI's list https://blog.remirepo.net/pages/PECL-extensions-RPM-status. Will do.

[2020-07-24 14:33] nicgutierrez commented on #92
Lovely! Thank you @f3l1x : )

[2020-07-26 17:45] f3l1x commented on #49
Ping @vladimirbuskin.

[2020-07-26 18:08] f3l1x commented on #92
Done. Just redeploy your lambdas (e.q. `now -f`

![16-php-ini-g5ya9ivq7 vercel app_](https://user-images.githubusercontent.com/538058/88486105-a686ca80-cf7b-11ea-99ea-72fca21cb9c8.png)

[2020-07-26 18:12] #92 closed

[2020-07-26 18:25] f3l1x commented on #61
Hi @fydy. Thanks for tryout.

I see a few problems:

1. Vendor should be ignored in nowignore or vercelignore file.
2. Vendor has over 70MB, lambda limit is 50MB.
3. OctoberCMS needs DB, right?
4. I don't think that OctoberCMS fits great to lambda. My point of view.

However, I prepare a PR to my vercel-examples repo.

https://github.com/juicyfx/vercel-examples/pull/12

[2020-07-26 18:25] #61 closed

[2020-07-26 18:38] f3l1x commented on #98
Sure it is. I have made a little demo for you.

https://github.com/juicyfx/vercel-examples/commit/13717d7964c5e357312b37c1ff2ed5865acc9a6a

[code]

[code]

[2020-07-26 18:38] #98 closed

[2020-07-26 18:39] f3l1x commented on #98
Example URL here https://php-sqlite.vercel.app/

[2020-07-27 23:57] vladimirbuskin commented on #49
Hello @f3l1x sorry, i was looking for an ability to use it, but people in my organization can not understand it, and customers want to have something which can be installed on their servers, so i was just digging. Installing that sql server driver, is pretty time space big task, it requires a lot of dependencies in my DockerFile, i am not sure if all those are installed just for compilation or use

[2020-07-28 08:01] nicgutierrez commented on #92
Hey @f3l1x I can confirm the extension is working - thanks for that! However, I'm getting connection issues and I don't know how easy is going to be do debug or fix... anyhow, this is the error I'm getting:

`"There's been a server error. Please contact the development team. The error is the following: No suitable servers found (`serverSelectionTryOnce` set): [Failed to resolve 'mattoneapi.jvgjd.m

[2020-08-04 03:11] reed-jones opened #102 "Composer scripts output not being saved"
# Bug report

- Version: vercel-php@0.3.1
- URL: https://phase-blog-demo-git-v050-upgrade.reedjones.now.sh/
- Repository: https://github.com/reed-jones/phase-blog-demo/pull/7

## Description
Composer scripts run perfectly (thanks!)
[code]

However the build output (js/css) isn't available after the build is complete. If it helps, I'm using laravel mix

[code]
(apologies for the formatting on that)

[2020-08-04 09:35] f3l1x commented on #102
Hi @reed-jones.

I think there could be a problem with routing. Could you show me your routes?

You should use filesystem routing or set route css/js to assets folder.

[code]

Take a look at https://vercel.com/docs/configuration#routes/advanced/wildcard-routes.

---

Btw, thanks for sponsoring me.

[2020-08-04 09:39] f3l1x commented on #49
Thanks @vladimirbuskin. I think it's out of our limits. I mean lambda limits in Vercel. Microsoft sqlserver seems like a big dependency and it might reach our size (50mb) limit. Quite frankly, we can't use pdo_sqlsrv extension at this time.

[2020-08-04 09:42] f3l1x commented on #92
Hi. Unfortunately I don't use Mongo, so I don't know where is the catch. :-/

Maybe you can test it in Docker with similar environment like AWS Lambda is.

https://github.com/juicyfx/libphp/blob/3658080455397a3664d6b77324d158d508b49991/libs/amazon-linux-2-v74/build/Dockerfile#L1-L51

[2020-08-04 13:50] reed-jones commented on #102
👍  Thanks for your work!

I don't _think_ its routing, since I can run `composer run vercel` locally to build the files, (they are saved to the 'public' folder, and if I add these files to git, my routing works as expected

[code]

following your suggestion, I tried
[code]
and
[code]
neither of which seem to be working (just returning 404). I'm not sure how vercel's build system really works, but

[2020-08-06 19:32] unitof opened #103 "Entire project is sent to each builder"
# Bug report

- Version: `0.3.1`
- URL: https://vercel.com/unitof/php-root-bug/li430s3wp (see build logs)
- Repository: https://github.com/unitof/vercel-examples/tree/builder-rootfiles-bug/php-root-bug

## Description

It appears that all files in the now Vercel project root (where `.vercel` and/or `now.json` are kept) are being sent to the builder for each Serverless Function. It's causing my bui

[2020-08-07 01:25] reed-jones commented on #103
(If I'm understanding properly) I think thats intended. For example check out the Lumen example: https://github.com/juicyfx/vercel-examples/tree/master/php-lumen `api/index.php` just pulls in the main lumen app entry file from the root of the project.

I'm not sure, but maybe adding your zip to the ~.nowignore~ .vercelignore would work? https://vercel.com/guides/prevent-uploading-sourcepaths-with-

[2020-08-07 08:05] f3l1x commented on #103
It's the feature. You must use `. vercelignore` and ignore all files/folders you don't want to upload.

[2020-08-07 09:05] f3l1x commented on #102
Hmm, I think I know where is the catch. Files created in build phase (during call `composer run vercel`) are not accessible from browser/routing/routes.

I solved it with little trick in satis example.

https://github.com/juicyfx/vercel-examples/blob/d615f48830491e54afba30d0e54f402a6e6ccc0e/php-satis/index.php#L3-L9

I am in touch with Vercel team. For now, test please this approach.

[2020-08-07 13:54] unitof commented on #103
Gotcha, my mistake then. I didn't realize each function gets the context of the entire repo by default.

I don't want to `.vercelignore` the files in my root, as I want them to be served statically, but I'll use `excludeFiles` instead.

Which does lead me to a new bug, which I'll report separately: Vercel now requires `includeFiles` and `excludeFiles` to be a single glob pattern, but `vercel-php`

[2020-08-07 13:54] #103 closed

[2020-08-07 14:36] reed-jones commented on #102
awesome thanks, I'll try this soon

[2020-08-07 16:05] unitof opened #104 "Does not support includeFiles and excludeFiles glob patterns, which Vercel requires"
# Bug report

- Version: `0.3.1`
- URL: https://juicyfx-php-test.unitof.vercel.app/api/index.php (& its [function logs](https://vercel.com/unitof/juicyfx-php-test/6mnqiimpk/functions?name=z9nQ0UbzQf52vfYODE78vvVk-1cf83ce6e5608a42ec3eb0bdc9cdb051a8d831a))
- Repository: https://github.com/unitof/vercel-examples/tree/builder-glob-bug/php-excludeFiles-bug

## Description

Vercel requires a function's

[2020-08-08 03:30] reed-jones commented on #102
Works great, thanks for the idea.

[2020-08-11 13:36] f3l1x commented on #104
Hi, thanks for great report.

I have tested current version (0.3.1) and it works.

- includeFiles is not supported, only excludeFiles
- you can use string in excludedFiles (fixed in readme, thx)
- you can combine .vercelignore with excludedFiles easily (take a look at example)

Take a look at my examples (https://github.com/juicyfx/vercel-php/tree/master/test/examples/18-exclude-files)

[2020-08-11 13:48] unitof commented on #104
Aha! That likely explains my issues: I was using a `excludeFiles: "**/*"` and assuming `includeFiles` would then act as an allowlist, but in reality I was just excluding _everything_, probably the underlying cause of the PHP errors.

Will see if I can construct an `excludeFiles` glob that does what I need! (Basically, to exclude everything except one common `api/functions.php` file from each funct

[2020-08-11 13:53] f3l1x commented on #104
Yep, that's catchy. :-)

Vercel is using [glob](https://www.npmjs.com/package/glob) and it's using [minimatch](https://www.npmjs.com/package/minimatch). You can test it here https://globster.xyz/.

[2020-08-11 20:55] f3l1x commented on #102
I placed it to readme. Thanks for the issue.

[2020-08-11 20:55] #102 closed

[2020-08-12 15:38] lekoala commented on #50
@f3l1x yes sure i guess it's not required as such, but it would be great if it worked

tried recently and i get this

TypeError: Cannot set property 'mode' of undefined
    at Object.getPhpFiles (C:\Users\MYUSER\AppData\Local\com.vercel.cli\Cache\dev\builders\node_modules\vercel-php\dist\utils.js:71:34)

it would be great somehow to have a way to set the executable. i have a php.exe working in my

[2020-08-19 04:01] WilliamBlais commented on #60
@f3l1x If I add gd to php.ini, will it work? Do you have any examples on how to add an extension to vercel/php?

[2020-08-19 20:26] f3l1x commented on #60
Hi @WilliamBlais. Problem is not PHP ini, but GD extension it self. It looks like it requires so much filespace (filesize) and many shared libraries installed on platform. We are limited by 50 MB per 1 lambda. So, GD extension is not supported at this moment.

Take a look at FAQ (https://github.com/juicyfx/vercel-php#%EF%B8%8F-faq), there is example how to edit php.ini.

[2020-09-16 19:39] Borumer opened #115 "Access denied for user"
# Bug report

- Version: 0.3.1
- URL: https://api.jot.bforborum.com/api/v1/tasks
- Repository: No

## Description

Using the vercel-php runtime, I deployed my API on GoDaddy's domain but through Vercel's servers. As it is an API, I am trying to connect to one of my GoDaddy MySQL databases. I get the following error:

'secondisea' is my database username, and this works locally, because I whitelist

[2020-09-16 19:41] Borumer commented on #115
_NOTE: This works locally and by deploying on GoDaddy's hosting, but I need to deploy through Vercel. I COULD upgrade my GoDaddy account and I would no longer need Vercel, but that shouldn't be necessary because isn't what I am trying to do the point of this repo?_

[2020-09-20 13:35] f3l1x commented on #104
I am closing it now, feel free open it again.

[2020-09-20 13:35] #104 closed

[2020-09-20 13:37] f3l1x commented on #115
Hey! Thanks for report. It looks like issue with credentials. Have you configured something special? I mean whitelist your localhost domain, ip or something like that? How do you set username/password in Vercel? Via secrets or hardcoded?

[2020-09-20 14:34] Borumer commented on #115
Hi,
Thanks for the response. I whitelisted my home IP address and connect to the database via secrets both locally and deployed

[2020-09-20 14:36] Borumer commented on #115
I also dobt think there's any way to connect because I am using a hosting service for the database, not a cloud service. This means it can't be connected to remotely, especially since Vercel has dynamic IP addresses. That's my guess

[2020-09-21 10:07] f3l1x commented on #115
I have no problem to connect to MySQL/Redis/Mongo etc. But it must be accessible from public. It seems to me, it's not problem at vercel or vercel-php.

[2020-09-21 15:48] Borumer commented on #115
Is this correct?
DB_USER: A username for the database
DB_PASSWORD: The password for the user of the database
DB_HOST: The IP address for cPanel on GoDaddy?
DB_NAME: The name of the database?

[2020-09-21 15:50] f3l1x commented on #115
I don't know, it depends on your setup/framework/app.

[2020-09-21 18:48] Borumer commented on #115
But you're sure that there's no need to whitelist Vercel's IP address?

[2020-09-21 18:49] Borumer commented on #115
https://github.com/vercel/now-cloud/issues/41

[2020-09-26 16:11] lekoala opened #118 "Session usage"
# Question

So I'm experimenting with vercel and I'm wondering if session usage is supposed to work (since it's serverless?)

So far, it seems to work but I get something a bit strange

Using the following code

[code]

I got an increment of 1 on my local webserver, but an increment of 2 of my test application running on vercel. No idea why. More generally I'm wondering what happens to temporary f

[2020-10-06 21:48] fivenine01 opened #121 "php with vercel"
# not sure what im doing wrong while following the steps listed

Here's a  3 min video of what i'm doing and the error im getting... im new to php and github, can someone please let me know where i go wrong?
https://youtu.be/_XMPR79AOgA

[2020-10-12 11:43] JosBroers commented on #121
You don't need to implement the following in your PHP code, because it's an example and shows information of the php settings you are using. [phpinfo — Outputs information about PHP's configuration](https://www.php.net/manual/en/function.phpinfo.php):
[code]
You're installing Vercel not globally... Try that:
[code]

[2020-10-21 18:19] Borumer opened #125 "Is Vercel's .env CLI compatible with vercel-php?"
# Question

Are the `vercel env` commands usable for the vercel-php runtime? I want to store some secrets that are encrypted through Vercel. They are stored in my gitignored `.env` file. Can I access this in PHP?

[2020-10-25 13:34] Borumer commented on #115
I solved by whitelisting all IPs (%.%.%.%)

[2020-10-25 13:34] #115 closed

[2020-10-25 14:59] f3l1x commented on #115
Excellent. Thanks for update. :thu

[2020-10-25 15:04] f3l1x commented on #118
Hi @lekoala.

It happends after deployment, because Vercel is taking screenshot of your app, thus there is +1 visit. But it should happen only after deployment.

[2020-10-25 15:06] f3l1x commented on #121
Hi @fivenine01. It seems to me there is some error in your editor/OS. Vercel CLI should be working without problem.

Have you followed this manual (https://vercel.com/download)? If it so, could you please reach Vercel's support team?

[2020-10-25 15:08] f3l1x commented on #125
Hi. Yup, Environment Variables are supported. :-)

- It works seamless on Vercel platform, after deployment.
- Locally, it depends as you start your local development server.
    - `SOME_ENV=foo php -S localhost:8000 api/index.php`

[2020-10-28 02:13] khromov opened #128 "Can't enable POST requests for api route"
# Bug report

- Version: 0.1.1
- URL: No
- Repository: No

## Description

When I try to `POST` to `/submit-form`, I get a `405 Method not allowed` from Vercel, even though I specified the `methods` in the config. This makes it impossible to submit forms.

Here is my `vercel.json`:

[code]

To repro, you can use something like `curl`:

[code]

[2020-10-28 08:43] lekoala commented on #118
actually i think it may simply due to an oversight on my end and the the favicon request was counted as well :-) closing the issue

[2020-10-28 08:43] #118 closed

[2020-10-28 09:21] f3l1x commented on #118
Yup, favicon is also extra request, you're right.

[2020-10-28 16:26] f3l1x commented on #128
Hi, could you please create MVP repo? I guess the problem is in first route.

[2020-10-30 08:26] lekoala opened #129 "update sqlite"
# Feature Request

I'm considering deploying an app with a sqlite database that will be bundled during deployment. I see that the current sqlite library is quite old (3.7.17 released in 2013)

There has been quite a lot of changes since then. Is it possible to update the version of this library to a more recent one?

Not sure if I need any of the changes, but it makes me wonder :)

[2020-10-30 12:19] f3l1x commented on #129
Hi @lekoala. I am using PHP by https://rpms.remirepo.net/ and its based on Amazon Linux 2. There is limited way how things can be changed. Could you please show me how to install latest sqlite? I mean, only php-sqlite is required or something else?

[2020-10-30 20:11] lekoala commented on #129
I'm not sure really it's surprising that it's no up to date. I see that there is also an amazon extra with stuff for php so maybe in there there is a more up to date version?

[2020-10-31 21:53] Borumer commented on #125
How do we access these variables in PHP? The docs only talk about JavaScript

[2020-10-31 22:03] Borumer commented on #125
I am going to try using PHP's `$_ENV`

[2020-10-31 23:06] f3l1x commented on #125
Yes, use `$_ENV` or `getenv()`.

I will put it on vercel-php doc.

[2020-11-01 00:59] Borumer commented on #125
Thank you very much!

[2020-11-01 00:59] #125 closed

[2020-11-01 03:35] khromov commented on #128
@f3l1x It turns out that the problem wasn't Vercel but that the Slim router doesn't seem to work any more. I deployed the official Slim example and it doesn't work - all URLs resolve to the index route:

Code: https://github.com/khromov/vercel-php-repro/tree/official-version
Non-working path example: https://vercel-php-repro-git-official-version.khromovweb.vercel.app/hello/world

[2020-11-01 03:45] khromov commented on #128
I tried upgrading the default example to Slim 4 and it does seem to work, so maybe we should just update the example?

Slim 4 version repo: https://github.com/khromov/vercel-php-repro/tree/master
Slim 4 version: https://vercel-php-repro.vercel.app/

[2020-11-01 03:51] khromov commented on #98
@f3l1x Sorry for bringing up an old thread, but what is the purpose of supporting SQLite? On every cold start, the database will be deleted or reset to its initial value...

Maybe there's an interesting use case I'm not seeing?

[2020-11-06 18:32] fivenine01 commented on #121
hey thanks for that, I completely thought I had replied, but thank you for that, it worked!

[2020-11-06 18:32] #121 closed

[2020-11-06 20:01] f3l1x commented on #121
Happy to hear that.

[2020-11-19 20:30] dadambickford opened #133 "Kirby support: possible conflict with Kirby go() function and swoole extension go() function."
# Bug report

- Version: vercel-php@0.3.1
- URL: https://kirby-test.vercel.app/
- Repository: https://github.com/dadambickford/kirby_test

## Description

The PHP error is
[code]
We can not figure out the source of the original go() function that kirby is conflicting with. We've discovered many different forms of using PHP reflection to try and find the source with no luck - https://stackoverflow.

[2020-11-19 21:01] f3l1x commented on #133
Hi @dadambickford. Thank you for issue. That's really strange error, but I got it you need to disable some php extension.
I think there is now way how to disable already enabled extension, right? I need to think about it and introduce some logic to build phase, how to comment-out particular extension.

Something like:

[code]

[2020-11-19 22:09] dadambickford commented on #133
I'm admittedly very amateur when it comes to PHP, so I can't say for sure. We did read about a `PHP_MODULES_DISABLE` environment variable but passing that with the `swoole` value did not do what we hoped. The php.ini override we attempted was just setting extensions to an empty string, but yeah that didn't disable it.

I think a config option would be a clean solution, and if we eventually get thi

[2020-11-20 20:55] f3l1x commented on #129
Do you think it requires only recompile sqlite php extension or there is more stuff around?

[2020-11-20 20:55] f3l1x commented on #36
From my point of view, wordpress is not working on serverless smooth. I would recommend some other platform.

[2020-11-20 21:08] f3l1x commented on #128
Hi, I have update slim to latest v4 and it seems to me it's working.

**demo**

- https://php-slim.vercel.app/
- https://php-slim.vercel.app/hello/felix

**repo**

- https://github.com/juicyfx/vercel-examples/tree/master/php-slim

[2020-11-20 21:10] f3l1x commented on #20
Laravel example is included in https://github.com/juicyfx/vercel-examples

[2020-11-20 21:10] #20 closed

[2020-11-20 21:37] f3l1x commented on #19
There are 2 examples of symfony on vercel, take a look https://github.com/juicyfx/vercel-examples.

[2020-11-20 21:37] #19 closed

[2020-11-20 21:38] f3l1x commented on #21
There are 2 examples of zend (laminas) on vercel, take a look https://github.com/juicyfx/vercel-examples.

[2020-11-20 21:38] #21 closed

[2020-11-21 14:19] lekoala commented on #129
From what I've seen a simple update of sqlite should do it but really I have no experience in this matter so it's not like my ideas are accurate ;)

[2020-11-22 05:57] khromov commented on #128
Thanks for verifying! 🏆

[2020-11-22 05:57] #128 closed

[2020-12-11 19:57] f3l1x opened #135 "PHP 8.0"

[2020-12-22 19:33] dadambickford commented on #133
Hi there @f3l1x, wanted to touch base on this again and see if you've had any time to think about it.

[2020-12-26 17:38] eFrostByte opened #138 "Question: how to use multiple php files in /api folder"
# Is it possible to have folders inside /api?

I'm trying to make a game with un/pw authentication using php. In this game, each level has a url.
Using vercel-php, I was thinking in something like this:

game.vercel.app/api/index.php --> home page
game.vercel.app/api/level1/hint1.php
game.vercel.app/api/level2/hint2.php
...
I tried editing the vercel.json like this:
[code]
but it didn't work.

Is

[2020-12-26 18:08] f3l1x commented on #138
Hi, yep, it is possible.

[code]

Can you test this?

[2020-12-26 20:19] eFrostByte commented on #138
Ah, yes. Thanks!

[2020-12-26 20:20] #138 closed

[2020-12-26 20:20] f3l1x commented on #138
Glad to help. :-)

[2021-01-02 16:09] f3l1x commented on #135
Resolved 438f5a96f397b356125901fe9324bc21d1a2fe02

[2021-01-02 16:09] #135 closed

[2021-01-02 16:23] f3l1x commented on #133
Hi @dadambickford. Unfortunately no, I tried to enjoy Christmas time. :-) I've released new v`0.4.0` with PHP 8.0. Could you please test it? If so, this will be my next issue.

[2021-01-17 04:17] satyakresna opened #140 "logs/laravel.log could not be opened."
# The stream or file "/var/task/user/storage/logs/laravel.log" could not be opened: failed to open stream: Read-only file system

Hi @f3l1x, I got error message when deploy laravel project that depends on log file. Here's the screenshot.

<img width="1552" alt="Screen Shot 2021-01-17 at 12 08 54" src="https://user-images.githubusercontent.com/11099186/104830775-ebe9dc00-58bc-11eb-8b22-a13669fb0c35

[2021-01-17 13:13] satyakresna commented on #140
Hi, I will close the issue. The current solution that I have is create new Laravel project and copy certain files like Controllers, Models and Views to the new Laravel project.

[2021-01-17 19:39] f3l1x commented on #140
Hi @satyakresna. There is only 1 writable folder, `/tmp`. You should change log directory, to the `/tmp` folder.

[2021-01-17 22:06] satyakresna commented on #140
Hi @f3l1x, thanks for your info.

[2021-01-17 22:07] #140 closed

[2021-01-18 01:28] satyakresna opened #141 "Cannot run @php artisan command in composer script(s)"
Hi @f3l1x, When I deploy Laravel project version 8.x and run command `@php artisan migrate --force` in composer script(s) it get error message like this:

[code]

I check in vercel log deployment I don't see that the package `facade/ignition` installed. The package `facade/ignition` is located in `require-dev` **composer.json**. Is that possible to run `composer install` include `required-dev` pac

[2021-01-18 10:30] f3l1x commented on #141
Hi. Dev dependencies are not installed.

[2021-01-18 11:08] satyakresna commented on #141
Noted, thanks @f3l1x, I think I will run `artisan` command from Laravel Controller instead of run in `vercel` composer script.

[2021-01-18 11:08] #141 closed

[2021-01-21 06:09] dadambickford commented on #133
No worries! Hope you had a good holiday. I will give that a test and let you know.

[2021-01-26 07:54] WilliamBlais opened #143 "Custom PHP runtime"
# Question

Hi, I would like to build a custom PHP library using https://github.com/juicyfx/libphp/tree/master/libs/amazon-linux-2-v80. However, Vercel-php assumes we're using @libphp/amazon-linux-2-v80. Would it be possible to make that a setting?
Would it be possible to remove @libphp/amazon-linux-2-v80 from package.json and download it at build time instead?

Maybe I could create a script that

[2021-01-26 08:07] f3l1x commented on #143
Hi, thanks for question. I think I can install PHP during build time. But it requires little research. I hope it wouldn't be slower.

[2021-01-26 08:15] WilliamBlais commented on #143
@f3l1x thanks for the quick answer! Do you think it would be a good solution to modify getPhpFiles() in utils.ts to to download the file directly from npm and unzip it? Sounds possible?

Something like this;
curl https://registry.npmjs.org/PACKAGE-NAME/ \
    | jq '.versions[."dist-tags".latest].dist.tarball'

[2021-02-08 04:17] sebszocinski commented on #140
Hi, I have this exact same problem but I have tried to update the log path to `/tmp` but that doesn't seem to work? can you point me to the exact location of this change?

[2021-02-08 09:56] f3l1x commented on #140
Hi @sebszocinski, I am not familiar with laravel in that way. There is only one writable folder `/tmp`, point everything to this folder.

[2021-02-08 21:41] sebszocinski commented on #140
@f3l1x Yes I understand that, but by default Laravel uses the `/storage/logs` path and Vercel needs this to be re-routed to `/tmp` but i'm not sure where you do this in Laravel?

[2021-03-23 13:54] CRYPTO-4N0M4LY opened #151 "Bundling gRPC Extension"
# Feature Request
Hi, is it possible to bundle/include gRPC extension with the runtime?
https://blog.remirepo.net/pages/PECL-extensions-RPM-status page lists the extension.

Thanks!

[2021-03-26 15:40] f3l1x commented on #151
![image](https://user-images.githubusercontent.com/538058/112656757-fe027080-8e51-11eb-8fc1-2ee502918db2.png)

Done. Just re-deploy. :-)

[2021-03-26 15:40] #151 closed

[2021-03-26 15:44] f3l1x opened #152 "[upgrade] PHP 8.0.3"
<img width="947" alt="Screenshot 2021-03-26 at 16 41 44" src="https://user-images.githubusercontent.com/538058/112657209-79fcb880-8e52-11eb-9760-f826f992181b.png">

[2021-03-26 15:44] #152 closed

[2021-03-26 17:17] f3l1x commented on #143
I was using on-the-fly installation in early versions of vercel-php. It was harder to maintain it. What is your motivation to install custom  PHP library?

[2021-03-27 01:34] CRYPTO-4N0M4LY commented on #151
You're amazing.
Thanks!
Is there a donation option?

[2021-03-29 11:19] f3l1x commented on #151
Yup, https://github.com/sponsors/f3l1x

Thank you.

[2021-04-04 15:01] boyphongsakorn opened #154 "[question] How can I write files"
# Question

can i write txt file on php?

i use fwrite function but not work.

can be another function to write a txt file?

[2021-04-22 09:32] 4t2py opened #156 "[question] How to access Vercel Environment Variables?"
How to access Vercel Environment Variables?

[2021-04-22 10:05] f3l1x commented on #156
Hello. Try to dump `$_SERVER` or `$_ENV`. They should be there.

[2021-04-22 10:06] f3l1x commented on #154
Hi. You can write only to `/tmp` folder. All other folders are non-writable.

[2021-04-27 12:44] am-abudu opened #158 "Does this project comply with TOS"
# Question
Does this project comply with TOS ? I am afraid of it. ^_^

[2021-04-27 13:08] f3l1x commented on #158
What do you mean with TOS?

[2021-04-27 13:10] am-abudu commented on #158
It is Terms of Service
https://vercel.com/legal/terms

[2021-04-27 14:01] f3l1x commented on #158
Why do you think it's not comply with TOS?

[2021-05-12 13:23] boyphongsakorn commented on #154
oh thank you

[2021-05-23 21:45] evansims commented on #158
Yep, it's perfectly fine with their terms of service, as long as what you're running isn't violating [their fair use policy](https://vercel.com/docs/platform/fair-use-policy). 👍  They even write about using it [on the Vercel blog](https://vercel.com/blog/customizing-serverless-functions).

[2021-05-24 05:52] boyphongsakorn commented on #154
where iss /tmp folder?
inside /api folder or inside home of os?

[2021-05-24 06:02] f3l1x commented on #154
It’s on OS level. So /tmp.

[2021-05-24 06:05] boyphongsakorn commented on #154
oh thank you again

[2021-05-24 06:05] #154 closed

[2021-06-06 13:39] varunsingh87 commented on #156
Environmental variables using the vercel-php runtime work the same way as they normally do on Vercel.

Follow the steps from the [docs](https://vercel.com/docs/environment-variables), outlined below:

1. Go to Project Settings
2. Set a Production, Preview, or Development variable name and value
3. Click Add

On the deploy Vercel build, use `$_ENV["NAME OF VARIABLE"]`

For local development, store

[2021-06-07 09:34] #156 closed

[2021-07-26 12:13] PugzAreCute opened #174 "Install geoip by default."
# Feature Request

Please install geoip ([http://pecl.php.net/package/geoip](http://pecl.php.net/package/geoip)) by default.

[2021-08-01 18:57] debjit opened #175 "Livewire is giving 500 error in vercel"
# Bug report

- Version: 8.12
- URL: No
- Repository:No

## Description
Laravel Livewire gets a 500 error when deploying it to vercel.

Here is what I get from logs. Vercel somehow does not show errors even app_debug=true

500 /admin/question/create(only last 4 KB of logs retained by Vercel) /laravel/framework/src/Illuminate/Pipeline/Pipeline.php(128): Illuminate\\Foundation\\Http\\Kernel->Illumin

[2021-08-20 02:44] Tanay360 opened #180 "file_get_contents does not work with files on my website"
Errors are thrown in my php file while I am using file_get_contents

[2021-08-20 09:56] f3l1x commented on #180
Hi @Tanay360. Can you share your code and exception?

[2021-08-20 09:57] f3l1x commented on #175
Can you share your code?

[2021-08-20 09:57] f3l1x commented on #158
Yes it does.

[2021-08-20 09:57] #158 closed

[2021-08-20 14:17] Tanay360 commented on #180
Here is the repository:
https://github.com/Tanay360/tanay360users

And the error can be seen here:
https://tanay360users.vercel.app/api/usersrec.php?start=1

[2021-08-20 14:34] f3l1x commented on #180
It's because of your vercel.json. It uploads only PHP files.

[code]

Try to create `src/users.json` and load them. It should fix it.

[2021-08-20 14:47] Tanay360 commented on #180
@f3l1x I tried, but the result is the same

[2021-08-22 11:58] f3l1x commented on #180
It works.

Demo: https://20-read-files-f3l1x-xorg.vercel.app
Source: https://github.com/juicyfx/vercel-php/commit/0e33bb8f40f985b214cd82a00c26aa416b030fae

[2021-08-22 11:58] #180 closed

[2021-08-30 09:41] qkqpttgf opened #183 "No such file or directory in Unknown"
Hello,
the project is https://github.com/qkqpttgf/OneManager-php ,
deploy: https://scfonedrive.github.io/Vercel/Deploy.html ,
my app: https://verceltest-ysun.vercel.app/ .

I deploy the project, it works at that time,
but,
atfer a few hours, (not visit for one night), it show `
Warning: Unknown: Failed to open stream: No such file or directory in Unknown on line 0

Fatal error: Failed opening requ

[2021-08-30 09:47] qkqpttgf commented on #180
#183 , sorry but this demo is error too.

[2021-08-30 10:27] f3l1x commented on #180
@qkqpttgf That's weird. I have to re-deploy it and now it works.

[2021-08-30 10:28] f3l1x commented on #183
Can you test redeploy?

[2021-08-30 12:17] qkqpttgf commented on #180
I told, it works for a few hours, if no one visit some time, it will error

[2021-08-30 12:18] qkqpttgf commented on #183
tested, it work after deploy, but error after some hours( I dont know how many hours)

[2021-08-30 12:44] f3l1x commented on #183
I will reach Vercel team and we will see.

[2021-08-31 01:06] qkqpttgf commented on #183
the demo in #180 is error now, after some hours,
so, help.
thank you.

[2021-09-01 14:50] Tanay360 commented on #180
@qkqpttgf can you please add an example for writing files as well? 😀

[2021-09-01 15:08] f3l1x commented on #180
Only /tmp folder is writable.

`file_put_contents('/tmp/file.txt');`

[2021-09-01 15:13] Tanay360 commented on #180
Thanks! 🙂

[2021-09-02 01:29] qkqpttgf commented on #180
I copy code folder to /tmp, and write config to config file, and then deploy the folder :)
code deploy itself (ofcourse, provide it a key)

[2021-09-06 16:10] xieyuheng opened #184 "Does this runtime ignore `npm run vercel-build`?"
I added `public/js` and `public/css` to `.gitignore`, so I need `npm run vercel-build` to build them.

But add `vercel-build` to `package.json` is not effective.

Does this runtime ignore `npm run vercel-build`?

[2021-09-07 08:46] f3l1x commented on #184
Take a look at README's FAQ.

`7. How to call composer script(s) ?`

[2021-09-07 13:34] #184 closed

[2021-09-08 01:43] qkqpttgf commented on #183
Hello?

[2021-09-16 17:22] boyphongsakorn commented on #183
i have a same error as you. do you have a solution at now?

[2021-09-19 19:40] f3l1x commented on #183
Does it still an issue? I've tested it again and it works seems to me.

[2021-09-20 06:51] qkqpttgf commented on #183
It looks work now, how it happen, and what can I do?

[2021-09-21 12:32] Reallukeisbest opened #189 "The pattern "*.php" defined in functions doesn't match any Serverless Functions inside the api directory."
Hello!

I am trying to upload a website with PHP to Vercel using VercelPHP (https://github.com/juicyfx/vercel-php) but, when trying to build, I get an error on my vercel.php file. The error is: "Error: The pattern "*.php" defined in functions doesn't match any Serverless Functions inside the api directory. Learn More: https://vercel.link/unmatched-function-pattern" and, the vercel.json file looks

[2021-09-21 13:57] f3l1x commented on #189
Only api folder is allowed for `functions`.

[2021-09-21 18:36] Reallukeisbest commented on #189
How could I combat this problem?

[2021-09-22 02:50] fu-sen commented on #189
There is a good Vercel discussion for this answer:
https://github.com/vercel/vercel/discussions/6730

But as you know you got here from the Vercel discussion:
https://github.com/vercel/vercel/discussions/6744

 **This is a Vercel feature, not only vercel-php specific.** So I think the comments you received there made an incorrect transfer.

[2021-09-25 14:26] #189 closed

[2021-09-26 13:40] f3l1x commented on #174
Will do.

[2021-09-26 13:40] f3l1x commented on #183
It looks like vercel team fixed runtime API/workflow.

[2021-09-26 13:40] #183 closed

[2021-11-23 16:21] robertdrakedennis commented on #175
You need to ensure the livewire-tmp folder and real-time faces are being processed correctly, you can have something like this in your AppServiceProvider, this isn't an issue with vercel.

[code]

[2021-12-28 00:29] guoxiangke commented on #102
@f3l1x  Can you give a example of assets.php, thanks.
<img width="708" alt="image" src="https://user-images.githubusercontent.com/1160703/147515493-98f9d586-0568-4ee2-b91d-d6b82d84f435.png">

[2021-12-28 01:41] guoxiangke opened #207 "Laravel with vercel-php@0.4.0 css/js was not loaded because its MIME type"
# Question

**/css/app.css?id=63d00dfbd8cde5c569e7 was not loaded because its MIME type, “text/html”, is not “text/css”.**

Works if upload public/css/ public/js file to vercel. But I want use Composer build in vercel

Here are my config files:
Composer scripts:
[code]
api/assets.php :
[code]
vercel.json:
[code]

related:

[Composer scripts output not being saved #102 ](https://github.com/juicyfx/

[2021-12-31 10:56] robertdrakedennis commented on #207
I use the `builds` options but since it's technically deprecated I'm not sure how long it will technically last.

[code]

Might help you in getting your setup to work

[2021-12-31 10:57] robertdrakedennis commented on #207
You also might be able to use the static runtime to load the files instead of using the PHP runtime, which is probably way slower

[2022-01-06 01:24] luqaska opened #209 "Does this program admit CURL functions?"
That's all

[2022-01-08 10:54] guoxiangke commented on #207
https://github.com/juicyfx/vercel-examples/pull/27/commits/1fcbe3ff98ae34830cfd779224433cca16bb4f93
will try this one later.

[2022-01-08 12:53] guoxiangke commented on #207
Works:
[code]

[code]

[code]

[2022-01-08 13:05] guoxiangke commented on #207
How make the composer scripts only run for assets.php?
(now twice, one for index.php and one for assets.php)
[code]

[2022-01-12 11:07] f3l1x commented on #207
Hi @guoxiangke. There is no way how to detect which composer script you want to run in single deployment.

[2022-01-12 11:08] f3l1x commented on #209
Hi @luqaska, sure, you can use https://www.php.net/manual/en/book.curl.php as you wish.

[2022-01-24 17:07] RishiPratap opened #212 "Unable to connect to mysql database"
<html><?php
  if (isset($_POST['upload'])) {
      $target = "images/".basename($_FILES['image']['name']);

      //connect to the data base
      $db = mysqli_connect("*****","******","******","******");

      $username = $_POST['name'];
      $userstore = $_POST['store'];
      $userlati = $_POST['lati'];
      $userlongi = $_POST['longi'];
      $storecategory = $_POST['category'];
      $user

[2022-01-24 17:20] RishiPratap commented on #212
Can you suggest example to connect to mysql

[2022-01-24 20:44] RishiPratap commented on #212
How to move uploaded image to folder showing error while uploading

[2022-01-31 00:28] WilliamBlais opened #213 "PSR extension should not be included by default"
# Bug report

- Version: 4.0.0

## Description

The psr extension is incompatible with symfony see https://github.com/symfony/symfony/issues/40870.

The extension author himself requests that the extension be disabled by default, see https://github.com/jbboehr/php-psr/issues/88.

Is it possible to disable it without rebuilding another lib in libphp?

Thanks!

[2022-02-01 10:16] f3l1x commented on #213
Hey, you're right. I will disable it completely.

[2022-02-01 10:17] f3l1x commented on #212
Hi @RishiPratap. You're doing it right from my point of view. Follow the error.

[2022-02-17 17:58] leocavalcante commented on #133
Add `swoole.use_shortname=Off` to your `php.ini` file. It will make Swoole skip the `go()` function creation.

[2022-02-20 22:13] 1isten commented on #213
Any update of this issue? I deployed a Laravel 9 project to vercel and got:

[code]

[2022-03-02 03:00] ashmanmalik opened #218 "How to work with sessionStorage & localStorage in PHP?"
# Bug report

session_start();
Hey, I am using $_SESSION["variablename"]; and trying to record variable and pass onto the sessions. However, I am unable to do it. Can you suggest a way to do it?

[2022-03-02 05:39] WilliamBlais commented on #218
You'd need to use a stateless API or session storage like redis.

[2022-03-02 05:41] ashmanmalik commented on #218
Can you give me an example?

[2022-03-18 10:32] thomas-rooty opened #219 "Add php-zip extension"
# Feature Request

Would it be possible to add the php-zip extension as it would be very useful to work with tmp file uploading ? I'm building an API that read and write to a temp Excel (xlsx) file and I need to open it using php-zip :

![image](https://user-images.githubusercontent.com/19364687/158987169-4eaf391b-957f-4134-ad46-11e8a24952ea.png)

Is there a way so we can ourselves add an extensio

[2022-03-18 10:53] f3l1x commented on #219
Hey. Will do. :-)

[2022-03-18 10:55] thomas-rooty commented on #219
Thanks for the fast answer, appreciate it 👍

[2022-03-19 14:06] bradleyg commented on #36
Anybody had anymore luck with this since 2020?
Seems so close to working..

[2022-03-19 17:15] f3l1x commented on #36
Nope. Wordpress is basically not suitable for this.

[2022-03-27 08:35] sunxyw commented on #213
same issue here. any way to disable the PSR extension?

[2022-03-31 09:28] fifle opened #223 "Add Imagick extension"
# Feature Request

It looks like Imagick extension is missing for now. I'm using a [library for generating QR-code](https://github.com/SimpleSoftwareIO/simple-qrcode) in my [Laravel application](https://github.com/fifle/donationbox) and it requires the support of Imagick for generating QR-code images in PNG format (I also need it for user to be downloadable, so it's really needed).

It looks like

[2022-04-09 18:22] f3l1x commented on #218
I'm using for example:

- https://fauna.com/
- https://supabase.com/
- https://planetscale.com/
- https://min.io/

[2022-04-09 18:22] #218 closed

[2022-04-09 18:33] f3l1x commented on #213
Hi. Done. Can you please redeploy your apps?

@sunxyw @HasanMu @1isten @WilliamBlais

[2022-04-09 18:35] f3l1x commented on #213
https://github.com/juicyfx/libphp/commit/2a58ea3146024d816a21868eb21e79f829228e86
https://github.com/juicyfx/libphp/commit/6537ba5c0eb338610f20927c5741198eca82566d
https://github.com/juicyfx/libphp/commit/1116c5cc8fbd5b779fb2352705740a3948458fd4
https://github.com/juicyfx/libphp/commit/e8b036cefff3057b98fa04bd5068df1cffa89c8b

[2022-04-09 18:35] f3l1x opened #224 "[upgrade] PHP 8.0.17"
https://github.com/juicyfx/libphp/commit/2a58ea3146024d816a21868eb21e79f829228e86
https://github.com/juicyfx/libphp/commit/6537ba5c0eb338610f20927c5741198eca82566d
https://github.com/juicyfx/libphp/commit/1116c5cc8fbd5b779fb2352705740a3948458fd4
https://github.com/juicyfx/libphp/commit/e8b036cefff3057b98fa04bd5068df1cffa89c8b

[2022-04-09 18:35] #224 closed

[2022-04-09 18:38] f3l1x commented on #133
@leocavalcante It works for me. Can you confirm it @dadambickford ?

[2022-04-09 18:38] f3l1x commented on #36
Closing it. I don't this this will happen any soon.

[2022-04-09 18:38] #36 closed

[2022-04-09 18:50] sunxyw commented on #213
Thanks for your work!
Works great on Laravel 9!

[2022-04-09 19:04] f3l1x commented on #174
Done. Can you please test it?

[2022-04-09 19:04] #174 closed

[2022-04-09 19:04] f3l1x commented on #174
<img width="1109" alt="image" src="https://user-images.githubusercontent.com/538058/162588204-73806e1e-8420-4d87-8b14-437374d47135.png">

[2022-04-09 19:05] f3l1x commented on #219
Done. Can you please redeploy your apps?

<img width="959" alt="image" src="https://user-images.githubusercontent.com/538058/162588212-21f86a7b-0144-49ec-aee0-4577235d87db.png">

[2022-04-09 19:05] #219 closed

[2022-04-09 19:21] #213 closed

[2022-04-09 19:22] f3l1x opened #225 "[upgrade] PHP 8.1"

[2022-04-09 19:32] #225 closed

[2022-04-10 01:29] 1isten commented on #213
@f3l1x Thank you!

[2022-04-25 05:53] PugzAreCute commented on #174
Works for me!

[2022-04-27 17:12] goup-david opened #229 "Struggling to get pages to load"
# Question

Struggling to load pages and files that are not the main index.php file.

This is my file structure:

[code]
Below is my `vercel.json` file:

[code]
This is my `api/index.php` file:

`<?php include __DIR__ . '/../index.php'; ?>`

This is my `index.php` file (in main route):

[code]

My `another-page/index.php` file is:

`<h1>This better work</h1>`

When I go to my server I get the foll

[2022-04-27 17:54] f3l1x commented on #229
Hi. There is only one entrypoint to your app and it's in `/api/index.php` according to your setup. Just place a little router to `/api/index.php` and that should work.

[2022-04-28 10:16] goup-david commented on #229
Hi,

Isn't that what I already have in my `vercel.json` file:

[code]

[2022-04-28 10:37] f3l1x commented on #229
Well, can you prepare a MVP and share the code?

[2022-04-28 11:42] goup-david commented on #229
I've made the repo public see here: https://github.com/goup-david/testingphp

The vercel link is https://testingphp.vercel.app/

[2022-05-03 09:10] goup-david commented on #229
@f3l1x any chance you got a look at this? Would really appreciate the help

[2022-05-03 09:23] f3l1x commented on #229
Your `api/index.php` should contain something like:

[code]

You must route that by your own. Because everything is pointing to your `/api/index.php`.

[2022-05-03 13:21] goup-david commented on #229
How does that work with regards to style sheets? Within my code directory I have a file style.css, and within my index.php I include it:

<link rel="stylesheet" href="style.css">

However the file doesn't get called and if I go to /style.css it brings up the index.php page?

[2022-05-03 13:29] f3l1x commented on #229
Take a look how Laravel devs solve it: https://github.com/juicyfx/vercel-php/issues/207#issuecomment-1007984117

[2022-06-01 13:34] lwd-temp opened #247 "Something wrong with"
# Bug report

- Version: x.y.z
- URL: Yes (*.now.sh) / No
- Repository: Yes / No

## Description

[2022-06-01 13:35] #247 closed

[2022-06-01 13:41] lwd-temp opened #248 "Something wrong with the build process"
# Bug report

- Version:  vercel-php@0.4.0
- URL: No
- Repository: Yes, https://github.com/lwd-temp/site-api/tree/main

## Description

This happens today with the same code as before. The deployment failed when `🐘 Creating lambda`, which never happened with the totally same code before.

Here's the full log:
[code]

And this is the log when the same code built correctly:
[code]

[2022-06-01 14:05] lwd-temp commented on #248
This might be an issue with Vercel's build tool which could not handle when there are more than one `*.php` file listed in `vercel.json`.

[2022-06-07 07:02] LtD0gE opened #252 "My request timed out, with an error of closing a connection"
# Question
![image](https://user-images.githubusercontent.com/88997240/172310354-3e526d04-9e27-423b-9d6b-5b63291dd29e.png)
![image](https://user-images.githubusercontent.com/88997240/172310511-a9988c97-3b56-48ed-be4a-b07cdbc12163.png)
I'm trying to deploy Typecho serverlessly on Vercel, but it timed out.

My repository: https://github.com/LtD0gE/typecho-vercel

[2022-06-07 08:43] LtD0gE commented on #252
i set up a PHP built-in server on my codespace, and it doesn't handle requests until after 20 seconds.
do i need any extra configurations? or, some other versions like PHP 7.4?

[2022-06-10 02:27] LtD0gE commented on #252
hello? can anyone solve?

[2022-06-10 09:05] f3l1x commented on #252
Hi. I will take a look as soon as possible.

[2022-06-10 09:05] f3l1x commented on #252
https://github.com/LtD0gE/typecho-vercel gets 404.

[2022-06-10 09:11] LtD0gE commented on #252
I solved just now...
My local MySQL server is externally inaccessible, so the script is running timed out, and it becomes OK when I'm testing on my own computer.
Sorry for disturbing :)

[2022-06-10 09:11] #252 closed

[2022-06-10 09:16] f3l1x commented on #252
Glad to help.

[2022-07-07 05:37] MliKiowa opened #266 "Why can't I use sqlite ?"
# Question

I want to deploy typecho in vercel,but it is not working.
![IMG_20220707_133102](https://user-images.githubusercontent.com/61873808/177698836-9553ef71-9706-49a4-b5ed-152867bf3e2d.jpg)
But according to the documentation, sqlite3 is supported.Looking through typecho code ,the sqite3 extension should be supported .  Why can't I use sqlite on vercel?

[2022-08-04 09:06] dionisis84 opened #280 "Cannot send email"
# Question

I deployed a website on Vercel with a contact form, but I cannot send emails through this form!
In the logs i get the following error:

Is this something that I have to configure manually or a bug?

Thanks a lot

[2022-08-04 09:13] f3l1x commented on #280
Hi, you have to use SMTP server. Sendmail is not installed.

[2022-08-04 09:42] dionisis84 commented on #280
@f3l1x Thanks a lot!

[2022-08-04 09:42] #280 closed

[2022-08-04 13:38] styfle opened #281 "Upgrade nodejs12.x runtime"
`vercel-php` is still using `nodejs12.x` under the hood which has reached End of Life.

https://github.com/vercel-community/php/blob/a9022e848b40ad9c7471b23f35fe80e69619f528/src/index.ts#L126

This should be upgraded soon to avoid new deployments from failing.

cc @f3l1x

[2022-08-09 01:55] robertdrakedennis commented on #281
Deployments are already failing as of now, needs to be updated if possible, let me know what needs changing if there is anything I can do I'd love to help.

[2022-08-09 04:52] LittleYang0531 commented on #281
I have also encountered this error.

Yesterday I can deploy my project successfully, but today it throw this error to me.

What should I do?

[2022-08-09 05:10] robertdrakedennis commented on #281
You may be able to fork the repo and use your own build but for not there is nothing to do but wait unfortunately

[2022-08-09 05:20] f3l1x commented on #281
Hi folks. I will release new version asap.

[2022-08-09 16:29] #281 closed

[2022-08-10 06:46] f3l1x commented on #281
@LittleYang0531 @robertdrakedennis v0.5.2 bumped.

https://www.npmjs.com/package/vercel-php

[2022-08-13 18:27] robertdrakedennis commented on #266
you most likely need to access the temp directory, but you shouldnt use SQLite as vercel will not carry over temporary files that are not included within your git repo. Use a regular database, best recommendation is planetscale.

[2022-08-13 23:57] MliKiowa commented on #266
ok,thanks

[2022-08-13 23:57] #266 closed

[2022-09-05 08:37] Jobians opened #306 "How to handle and create custom 404 page"
# Question

How to handle and create custom 404 page

[2022-09-09 10:37] Jobians commented on #306
@f3l1x

I used this from vercel documentation but it not working

`{
  "functions": {
    "api/**/*.php": {
      "runtime": "vercel-php@0.5.2"
    }
  },
  "routes": [
    { "src": "/(.*)", "dest": "/api/$1" },
    { "src": "/(.*)", "status": 404, "dest": "/api/404.php" }
  ]`

[2022-09-09 11:20] f3l1x commented on #306
Can you share where is this example?

[2022-09-09 11:28] Jobians commented on #306
@f3l1x
https://vercel.com/guides/custom-404-page#what-if-i-need-to-name-my-404-file-something-different

[2022-09-09 19:56] Jobians commented on #60
@f3l1x @WilliamBlais

Please I encounter this issue, have you find any solution for it?

[2022-09-16 13:39] SchramlTim opened #315 "Postgres connection error - "SCRAM authentication requires libpq version 10 or above""
# Bug happend in

- Version: 0.3.2 -> 0.5.2

## Description

This error happend if i try to connect to my supabase postgres database: "SCRAM authentication requires libpq version 10 or above".
Is there an option to solve this error?

[2022-09-20 21:57] MaksOuw commented on #315
Same problem here, if you have any solution I'll take it !

[2022-09-25 07:14] snuggneighborhood commented on #315
Same problem here.

[2022-09-28 05:30] testliopavel commented on #223
Hi @f3l1x ! Is there any chance to get this update for upcoming releases? Heroku is closing it's free tier soon and I'm looking forward for moving to Vercel this month. So maybe, it will be possible due to adding Imagick extension into your runtime :)

[2022-10-01 08:39] f3l1x commented on #223
Hi @testliopavel, I will take a look. I hope imagick will be not 20 MB binary :-D

[2022-10-01 16:28] f3l1x commented on #223
There is a little problem with imagick on AmazonLinux 2 with Remi's RPM repository (https://blog.remirepo.net/pages/PECL-extensions-RPM-status).

[code]

According to Bref (alternative tool for serverless PHP), there is so much dependencies for Imagick extension. Vercel Serverless Functions have hard limit of 50Mb. In this case we'd need to use another AWS lambda layer.

https://github.com/brefphp

[2022-10-04 22:12] sonaxa commented on #60
Hey @f3l1x
Found that it is present in an older version [ Here ](https://github.com/juicyfx/libphp/tree/master/libs/amazon-linux-2-v72/native/php/modules)
Would it be possible to include it ? or a way to make it work ? I keep getting this error when using the older version during build

`Error: The Runtime @vercel/vc-build is using nodejs12.x, which was discontinued by an upstream provider. In tur

[2022-10-06 07:49] f3l1x commented on #60
Hi @sonaxa and @Jobians, there is a problem with size of the lambda.

[2022-10-09 03:05] DenverCoder1 opened #331 "Files not getting excluded when deploying from GitHub Integration"
# Bug report

- Version: 0.5.2
- Repository: https://github.com/DenverCoder1/minimalistic-wallpaper-collection

## Description

When automatically deploying from GitHub, the excluded files are not getting removed since I am getting the error:

If the `images` directory is excluded, the project would be significantly under this limit.

When deploying manually with `vercel --prod`, it works just fin

[2022-10-23 16:08] DenverCoder1 commented on #331
As a workaround, I disabled the Vercel GitHub integration and I'm using a GitHub action instead.

https://github.com/DenverCoder1/minimalistic-wallpaper-collection/blob/main/.github/workflows/vercel-deploy.yml

The `vercel` and `vercel --prod` commands work just fine, but there still seems to be a bug with the automatic builds.

[2022-10-23 17:14] irfanhkm commented on #315
up, same problem

[2022-10-23 17:55] Neustradamus commented on #315
Linked to:
- https://github.com/scram-sasl/info/issues/1

[2022-10-24 07:31] f3l1x commented on #315
Hi folks! I am not sure if there is any way to upgrade libpq to newer version, because lambdas are using Amazon Linux 2 under the hood. But, I will try to take a look deeper.

[2022-11-01 03:34] AncientCatz commented on #266
Does typecho run well in vercel?

[2022-11-07 07:45] tao commented on #315
Will this fix work? https://stackoverflow.com/a/72703748

I've been using Planetscale instead as my database temporarily and that works for now but would love to get Postgres working.

[2022-11-29 20:39] asispts opened #352 "Composer validation always fails"
# Bug report

- Version: 0.5.2
- URL: No
- Repository: No

## Description
When modify `composer.json` (e.q: add/remove a package), build process always fail to detect the change. The build process always use the same cache.

[code]

Composer validation shows that `composer.json` is valid.
[code]

## Solution
Redeploy without using existing build cache manually.